# VPC variables template filled from infrastructure-config/infra-config.json

aws_profile_name = "${aws_profile_name}"
aws_region = "${region}"
vpc_name               = "${vpc_name}"
vpc_cidr_block         = "${vpc_cidr}"
vpc_availability_zones = [$availability_zones]
vpc_public_subnets     = [$vpc_public_subnets_cidr]
vpc_private_subnets    = [$vpc_private_subnets_cidr]
vpc_enable_nat_gateway = true
common_tags = {
  terraform   = "true"
  environment = "curity-example-deployment"
}
